*{
    padding: 0;
    margin: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px gray;
}

.profile-detail{
    background-color: rgba(153, 205, 50, 0.397);
    color: black;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.514);
}